//MAIN COLORS
$main-color: #3ba038;
$dimmed-main-color: #2d772b;
$additional-color: #0e3a71;
$dimmed-additional-color: #072c5b;
$disabled-background-color: #d5d5d5;
$disabled-color: #9e9e9e;
$error-color: #e53935;

$listing-bg: #eeeeee
